<h1>Topics</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td> <%= link_to topic.name, topic_path(topic) %></td>
        <td> <%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td> <%= link_to 'Delete', topic, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
